html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Hanken Grotesk";
  line-height: 1.1;
  margin: 0;
  padding: 0;
  height: 100vh;
}
