@font-face {
  font-family: "Hanken Grotesk";
  src: url(../../../assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

p {
  margin: 0 0;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}
